body {
  color: #003B48;
  font-family: sans-serif;
  text-align: center;
}
.center-on-page {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.f1 {
  text-align: center;
  font: 60px sans-serif;
  color:#f4b350;
}

/* Reset Select */
select {
  border: 0 !important;
  background: #4C6784;
  width: 300px;
  height: 50px;

  margin: 0;
  text-align: center;
  color: #bebebe;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  border-radius: .40em;  
}
/*Button*/
button{
  border: 0 !important;
  background: #4C6784;
  width: 300px;
  height: 50px;
  margin-top: 20px;
  color: #f4b350;
  font-size: 16px;
  border-radius: .40em;
}

table.darkTable {
  font-family: sans-serif;
  background-color: #002750;
  text-align: center;
}
table.darkTable td, table.darkTable th {
  border: 2px solid #4C6784;
  font-size: 16px;
  font-weight: normal;
  color: #939EAD;
  padding: 10px 6px;
}
table.darkTable tbody td {
  font-size: 16px;
  font-weight: normal;
  color: #939EAD;
}

table.darkTable thead {
  background: #4C6784;
}
table.darkTable thead th {
  font-size: 18px;
  color: #f4b350;
  text-align: center;
}

